
@font-face {
    font-family: Brygada-B;
    src: url('fonts/Brygada1918-Bold.ttf');
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: Brygada-BI;
    src: url('fonts/Brygada1918-BoldItalic.ttf');
    font-display: swap;
}



@font-face {
    font-family: Brygada;
    src: url('fonts/Brygada1918-Medium.ttf');
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: Brygada-SM;
    src: url('fonts/Brygada1918-SemiBold.ttf');
    font-display: swap;
}

