/* Mobile & Table */
@media (max-width: 1023px) {}

/* Table */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Table Lanscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* Mobile */

@media (max-width: 739px) {
   .menutab
   {
    display: none;
   }
   .quytrinh-list
   {
    padding: 0px;
    padding: 0px;
   }
   .item-quytrinh .desc-quytrinh, .desc-quytrinh .quytrinh-text, .desc-quytrinh .quytrinh-number
   {
    padding: 0px;
   }
    .footer-block {
        padding-left: 0;
    }

    .footer-main {
        padding: 35px 0 20px;
    }

    .footer-title {
        font-size: 16px;
    }

    .logo-footer {
        max-width: 150px;
        margin-bottom: 20px;
    }

    .title-page {
        font-size: 22px;
    }
    .item-quytrinh, .item-quytrinh:nth-child(2n+1) {
        margin-left: 0px;
        background-size: auto;
        margin-right: 0px;
    }
    .item-quytrinh:nth-child(2n+1) .quytrinh-number
    {
        float:left
    }
    .desc-quytrinh .quytrinh-text {
        float: right;
    }
    .item-quytrinh .desc-quytrinh
    {
        
    transform: translate(0px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 135px;

    }
    .quytrinh-img
    {
        display: none;
    }
    .item-bieuphi
    {
    
    margin-right: 0px;
    margin-bottom: 20px;
    }
    .cell-more i {
       display: none;
    }
    .item-bieuphi li
    {
        font-size: 14px;
        padding: 11px 5px;
    }
    .title-bieuphi {
        padding: 10px 20px;
        
        font-size: 16px;
       
    }
    .homeinfo-item
    {
         border:none;
         flex-wrap: wrap;
    }
    .homeinfo-item-img{
        border:2px solid #00b9ff;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .homeinfo-item-img img {
        width: 70px;
        height: 70px;
        padding: 9px;
        margin-top: -50px;
        
    }
    .homeinfo-number
{
  
  flex-wrap: wrap;
}
.item-homproduct:nth-child(2) .item-product-content
{
    top: auto;
    left:auto;
    bottom: 0px;
    left: 0px;
}
.item-homproduct img {
    min-height: 220px;
    object-fit: cover;
}
.item-homproduct
{
    margin-bottom: 20px;
}
.review-desc, .review-img
{
    width: 100%;
    margin-bottom: 20px;
}
.item-review
{
    flex-wrap: wrap;
}
.review-img img
{
    display: none;
}
.homebanner-wrapper {
    
 height: auto; 
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: 100%;
    color: #FFF;
    background: #ffc107;
}
.homebanner-wrapper .btn-dangky, .homebanner-wrapper .btn-hotline
{
    margin-top: 0px!important;
}
.booking-wrapper
{
    background-color: #f3f3f3;
    background-image: none;
}
.formungtuyen .item
{
    width: 100%;
}
}

/* Ipad pro */


@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}


/* PC LARGE */

@media (min-width: 1919px) {
    .grid {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
}