<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->

      <div class="topheader">
        <div class="grid">
          <div class="flex-container align-center">
            <div class="cell-1-3">
             <div class="topheader_left">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
                <h1>NHC HEALTHCARE</h1>
             </div>
  
            </div>
  
            <div class="cell-2-3">
                <div class="topheader_right">
                  <form action="/search/" method="get" id="searchformtab">
                    <input name="qr" class="" placeholder="Tìm kiếm..." type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                            <i class="fa fa-search" aria-hidden="true"></i> </a>
  
  
                  </form>
                  <div class="topheader_phone">
                      <a href="#"><i class="fas fa-phone-alt"></i>0982 494 065
                      </a>
                  </div>
                  <div class="topheader_user">
                      <a href="#"><img src="/uploaded/ico/user.png" alt="" style="float:left; margin-right:5px"> Tài khoản</a>
                  </div>
                  <div class="topheader_user">
                    <a href="#"><img src="/uploaded/ico/cart.png" alt="" style="float:left; margin-right:5px"> Giỏ hàng</a>
                </div>
                <div class="lang">
                    <a href="/" class="vi">VN</a>
                    <a href="/en/" class="en">EN</a>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
      
        <div class="flex-container flex-centered">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Trang chủ  </span></a>

                </li>
                <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Về chúng tôi </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/gioi-thieu-chung-1/">Giới thiệu chung</a>
                        </li>
                        <li class=""><a href="/chien-luoc-phat-trien/">Chiến lược phát triển</a>
                        </li>
                        <li class=""><a href="/van-hoa-doanh-nghiep/">Văn hoá doanh nghiệp</a>
                        </li>
                        <li class=""><a href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                        </li>
                        <li class=""><a href="/ban-lanh-dao/">Ban lãnh đạo</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Sản phẩm</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Hỗ trợ mua hàng </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Tin tức </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a>
                
                
                
                
                    
                    
                    
                </li>
               
                </ul>

              <div class="c"></div>
            </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">

    </header>
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
            </div>
            <div class="swiper-button-next swiper-button-grey"></div>
            <div class="swiper-button-prev swiper-button-grey"></div>
            <div class="c"></div>
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                  },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
            <div class="c"></div>
          </div>
          <!-- end slideshow -->
            <!-- product -->
            <div class="homesanpham-wrapper">
              <div class="c20"></div>
              <div class="c20 hide-on-mobile"></div>
              <div class="grid">
                <h2 class="homecat-title--spc">
                  <a href="">
                    Sản phẩm của NHC Healthcare
                  </a>
                </h2>
                <div class="homecat-intro">
                  Nguyen Healthcare mang đến sản phẩm nhập khẩu chính hãng và độc quyền phân phối tại Việt Nam, có xuất xứ từ các nước với những tiêu chuẩn kiểm định chất lượng nghiêm ngặt như Đan Mạch, Đức, Pháp, Canada, Mỹ… 
                </div>
                <div class="c20"></div>
                <div class="c10 hide-on-mobile"></div>
                <div class="flex-container">
                    <div class="cell-1-4 tab-cell-1-1">
                        <div class="homesanpham-item">
                          <a href="#" class="img-shine">
                            <img src="/uploaded/san-pham/home_05.png" alt="">
                          </a>
                        </div>
                        <div class="homesanpham-item__name">
                            <a href="#">Folio® forte</a>
                        </div>
                    </div>
                    <div class="cell-1-4 tab-cell-1-1">
                      <div class="homesanpham-item">
                        <a href="#" class="img-shine">
                          <img src="/uploaded/san-pham/home_07.png" alt="">
                        </a>
                      </div>
                      <div class="homesanpham-item__name">
                          <a href="#">Folio®</a>
                      </div>
                  </div>
                  <div class="cell-1-4 tab-cell-1-1">
                    <div class="homesanpham-item">
                      <a href="#" class="img-shine">
                        <img src="/uploaded/san-pham/home_09.png" alt="">
                      </a>
                    </div>
                    <div class="homesanpham-item__name">
                        <a href="#">Nausema®</a>
                    </div>
                </div>
                <div class="cell-1-4 tab-cell-1-1">
                  <div class="homesanpham-item">
                    <a href="#" class="img-shine">
                      <img src="/uploaded/san-pham/home_12.png" alt="">
                    </a>
                  </div>
                  <div class="homesanpham-item__name">
                      <a href="#">LadyBalance®</a>
                  </div>
              </div>
                </div>
              </div>
              <div class="c20"></div>
              <div class="c20 hide-on-mobile"></div>
            </div>
            <!-- end product -->

          <!-- tin tức -->
          <div class="homenews-wrapper">
            <div class="c20"></div>
            <div class="c10"></div>
            <div class="grid">
              <div class="flex-container align-center">
                <div class="cell-1-3 tab-cell-1-1">
                  <h2 class="homecat-title--spc">
                    <a href="">
                      Tin tức nổi bật
                    </a>
                  </h2>
                </div>
                <div class="cell-2-3 tab-cell-1-1">
                  <ul id="tabs-nav">
                                             
                    <li><a href="#tab1"> Sức khoẻ phụ khoa</a></li>
                    <li><a href="#tab2"> Sức khoẻ sinh sản  </a></li>
                    <li><a href="#tab3"> Sức khoẻ tình dục</a></li>
                    <li><a href="#tab4"> Chăm sóc bé</a></li>
                    <li><a href="#tab4">  Làm đẹp</a></li>
                  </ul>
                </div>
              </div>
              <div class="c20"></div>
              <div class="tabs">
                <!-- END tabs-nav -->
                <div id="tabs-content">
                  <div id="tab1" class="tab-content">
                    <div class="grid-container">
                      <div class="news-item">
                        <div class="img-page">
                          <a class="img-shine" href="#"><img src="/uploaded/tin-tuc/home_19.png" width="100%" alt="Sapa được công nhận là khu du lịch quốc gia"></a>       
                        </div>
                        <div class="intro-bg-news">
                          <h3 class="news-name-home"><a href="#">Tại sao phụ nữ mang thai cần bổ sung axit folic</a></h3>
                          <div class="intro-news-home text-line-6">Tại sao phụ nữ mang thai cần bổ sung axit folic Bà bầu bổ sung đủ axit folic có thể giúp phòng ngừa dị tật bẩm sinh ở não, tủy sống cho thai nhi. Folate (hay axit folic) là một vitamin B thiết yếu hòa tan trong nước, tên của chất dinh dưỡng có </div>
                        </div>  
                      </div>


                      <div class="news-item">
                        <div class="img-page">
                          <a class="img-shine" href="#"><img src="/uploaded/tin-tuc//home_21.png" width="100%" alt="Sapa được công nhận là khu du lịch quốc gia"></a>
                        </div>
                        <div class="intro-bg-news">
                          <h3 class="news-name-home"><a href="#">Tại sao phụ nữ mang thai cần bổ sung axit folic</a></h3>
                          <div class="intro-news-home text-line-6">Tại sao phụ nữ mang thai cần bổ sung axit folic Bà bầu bổ sung đủ axit folic có thể giúp phòng ngừa dị tật bẩm sinh ở não, tủy sống cho thai nhi. Folate (hay axit folic) là một vitamin B thiết yếu hòa tan trong nước, tên của chất dinh dưỡng có </div>
                        </div>  
                      </div>

                      <div class="news-item">
                        <div class="img-page">
                          <a class="img-shine" href="#"><img src="/uploaded/tin-tuc//home_24.png" width="100%" alt="Sapa được công nhận là khu du lịch quốc gia"></a>
                        </div>
                        <div class="intro-bg-news">
                          <h3 class="news-name-home"><a href="#">Tại sao phụ nữ mang thai cần bổ sung axit folic</a></h3>
                          <div class="intro-news-home text-line-6">Tại sao phụ nữ mang thai cần bổ sung axit folic Bà bầu bổ sung đủ axit folic có thể giúp phòng ngừa dị tật bẩm sinh ở não, tủy sống cho thai nhi. Folate (hay axit folic) là một vitamin B thiết yếu hòa tan trong nước, tên của chất dinh dưỡng có </div>
                        </div>  
                      </div>
                        
                    </div>
                  </div>
                  <div id="tab2" class="tab-content">
                    <h2>Dante Hicks</h2>
                    <p>"My friend here's trying to convince me that any independent contractors who were working on the uncompleted Death Star were innocent victims when it was destroyed by the Rebels."</p>
                  </div>
                  <div id="tab3" class="tab-content">
                    <h2>Randall Graves</h2>
                    <p>"In light of this lurid tale, I don't even see how you can romanticize your relationship with Caitlin. She broke your heart and inadvertently drove men to deviant lifestyles."</p>
                  </div>
                  <div id="tab4" class="tab-content">
                    <h2>Jay</h2>
                    <p>"I don't care if she's my cousin or not, I'm gonna knock those boots again tonight."</p>
                  </div>
                </div> <!-- END tabs-content -->
              </div> <!-- END tabs -->
             
            </div>
            <div class="c20"></div>
            <div class="c10"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="c10"></div>
          </div>
          <script>
            // Show the first tab and hide the rest
                $('#tabs-nav li:first-child').addClass('active');
                $('.tab-content').hide();
                $('.tab-content:first').show();

                // Click function
                $('#tabs-nav li').click(function(){
                  $('#tabs-nav li').removeClass('active');
                  $(this).addClass('active');
                  $('.tab-content').hide();
                  
                  var activeTab = $(this).find('a').attr('href');
                  $(activeTab).fadeIn();
                  return false;
                });
          </script>
          <!-- end tin tức -->
          
        <div class="homevideo-wrapper">
          <div class="c20"></div>
              <div class="c20 hide-on-mobile"></div>
            <div class="grid">
              <h2 class="homecat-title--spc">
                <a href="">
                 Video
                </a>
              </h2>
              <div class="flex-container">
                  <div class="cell-1-3 tab-cell-1-1">
                    <div class="homevideo-item">
                      <img src="/uploaded/video/home_29.png" alt="">
                      <a class="btn-video" href="#" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><img src="/images/playicon.png" alt="" width="88px"></a>
                  </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1">
                    <div class="homevideo-item">
                      <img src="/uploaded/video/home_31.png" alt="">
                      <a class="btn-video" href="#" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><img src="/images/playicon.png" alt="" width="88px"></a>
                  </div>
                  </div>
                  <div class="cell-1-3 tab-cell-1-1">
                    <div class="homevideo-item">
                      <img src="/uploaded/video/home_33.png" alt="">
                      <a class="btn-video" href="#" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><img src="/images/playicon.png" alt="" width="88px"></a>
                  </div>
                  </div>
              </div>
            </div>
            <div class="c20"></div>
              <div class="c20 hide-on-mobile"></div>
        </div>

        <div class="banner-content">
          <img src="/uploaded/pic-cat/home_38.png" alt="">
        </div>

    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
      
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  NHC HEALTHCARE
                </div>
                <div class="info">
                 
                  <i class="fas fa-map-marker-alt"></i>
                  <div> Add: B5, No.15, Lane 91, Nguyen Chi Thanh St, Dong Da ditrict, Hanoi

                  </div>
                  </div>
                  
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 
                    <div> Phone: 024.3773.9718  - Hotline: 0982 494 065

                    </div>
                  </div>
                  
                  <div class="info"> <i class="far fa-envelope"></i> Email: contact@nguyenhealthcare.vn</div>
                  
                  <div class="info"> <i class="fas fa-globe"></i> Website: nguyenhealthcare.vn</div>
                  
                                          
                              
              </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                    Sản phẩm
                </div>
              
                <ul class="menuboxfooter" id="">
                  <li><a href=""> Folio® </a></li>
                  <li><a href=""> Folio® forte </a></li>
                  <li><a href=""> LadyBalance®</a></li>
                  <li><a href=""> Nausema® </a></li>
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                    HỖ trợ mua hàng
                </div>
              
              
               
               
               
                
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Hướng dẫn mua hàng </a></li>
                  <li><a href="">   Phương thức thanh toán </a></li>
                  <li><a href="">  Chính sách vận chuyển, giao nhận</a></li>
                  <li><a href="">  Chính sách đổi trả hàng</a></li>
                  <li><a href="">   Chính sách bảo mật thông tin</a></li>
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
                <div class="footer-block">
                  <div class="footer-title footer-title-mobile" rel="ct">
                      HỖ trợ mua hàng
                  </div>
                  <div class="fanpage">
                    <a href=""> <img src="/uploaded/ico/home_03.png" alt=""> LadyBalance® </a>
                  </div>
                  <div class="fanpage">
                    <a href=""> <img src="/uploaded/ico/home_06.png" alt="">   Folio® </a>
                  </div>
                  <div class="fanpage">
                    <a href=""> <img src="/uploaded/ico/home_08.png" alt="">  Nausema® </a>
                  </div>
                </div>
            </div>
            <div class="cell-1-2">
              <ul class="footer-social">
                <li>
                  <a href="" class="footer-social__item hvr-float">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="footer-social__item hvr-float">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="footer-social__item hvr-float">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
      © Copyright 2019 Hoang Long Group. All rights reserved.
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

