<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-4">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-3-4">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Giới thiệu </span></a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Chương trình học</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Tuyển sinh </span></a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Dinh Dưỡng </span></a>
                
                
                
                
                    <ul class="submnu1" style="display:none;">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Đối tác </span></a> 
                </li>
               
                
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Tuyển dụng</span></a> 
                </li>
                
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Tin tức </span></a> 
                </li>
                </ul>
                <div class="icon-search" >
                 <i class="fa fa-search search-icon" aria-hidden="true"></i>
                  <div class="search-pc" style="">
                      <form action="/search/" method="get" id="searchformtab">
                          <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                              <a href="#" class="submit-search-pc" onClick=""> 
                                  <i class="fa fa-search" aria-hidden="true"></i> </a>

                              <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>        
                      </form>
                  </div>

                  <script type="text/javascript">

                    $(".submit-search-pc").click(function(){
                      if ($("#qr_search").val() != "")
                        $('#searchformtab').submit(); return false;
                    
                    });
  
                      $(document).ready(function () {
                          $(".search-icon").click(function () {
                              $(".search-pc").stop().slideToggle("fast");
                              return false;
                          });
                      });
                  </script>  	
              </div>
              <div class="c"></div>
            </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">

    </header>
    <!-- content -->
    <div class="content">
      <!-- slideshow -->
    <div class="banner banner-page">
      <img src="/uploaded/slideshow/banner-page.png" alt="">
    </div>
   
    <!-- danh mục đầu tư -->
    <div class="recruitdetail-wrapper">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-4-6 tab-cell-1-1">
              <div class="homecat-title--spc" style="text-align:left ;">
                <a href="#">Lorem ipsum is placeholder text commonly used graphic</a>
              </div>
              <div class="c30"></div>
            </div>
          </div>
        <hr>
        </div>
        <div class="c20"></div>
        <div class="recruit-detail">
            <div class="recruit-detail--item">
                <div class="grid">
                    <div class="flex-container">
                        <div class="cell-2-6 tab-cell-1-1">
                            <div class="recruit-detail--title">
                               Mô tả công việc
                            </div>
                        </div>
                        <div class="cell-4-6 tab-cell-1-1">
                           <div class="text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores accusantium, tenetur fuga laborum voluptatem voluptates unde recusandae deleniti libero id explicabo nulla consectetur, dignissimos, eum eos quia in maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto eveniet animi perspiciatis iusto nobis hic. Nobis, placeat obcaecati iure nemo praesentium ut nulla laboriosam nostrum quidem iste consectetur deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae eos officia expedita perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                           </div>
                           <div class="c30"></div>
                           <div class="aboutintroduc-item">
                          
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="c30"></div>
            </div>
            <div class="recruit-detail--item">
              <div class="grid">
                  <div class="flex-container">
                      <div class="cell-2-6 tab-cell-1-1">
                          <div class="recruit-detail--title">
                            Yêu cầu đối với ứng viên ứng tuyển vào vị trí
                          </div>
                          
                         
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                          
                      </div>
                      <div class="cell-4-6 tab-cell-1-1">
                         <div class="text-justify">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores accusantium, tenetur fuga laborum voluptatem voluptates unde recusandae deleniti libero id explicabo nulla consectetur, dignissimos, eum eos quia in maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto eveniet animi perspiciatis iusto nobis hic. Nobis, placeat obcaecati iure nemo praesentium ut nulla laboriosam nostrum quidem iste consectetur deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae eos officia expedita perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                         </div>
                         
                        
                        </div>
                      </div>
                  </div>
              </div>
             </div>
             <div class="recruit-detail--item">
              <div class="grid">
                  <div class="flex-container">
                      <div class="cell-2-6 tab-cell-1-1">
                          <div class="recruit-detail--title">
                            Yêu cầu đối với ứng viên ứng tuyển vào vị trí
                          </div>
                           
                         
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                          
                      </div>
                      <div class="cell-4-6 tab-cell-1-1">
                         <div class="text-justify">
                          
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores accusantium, tenetur fuga laborum voluptatem voluptates unde recusandae deleniti libero id explicabo nulla consectetur, dignissimos, eum eos quia in maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto eveniet animi perspiciatis iusto nobis hic. Nobis, placeat obcaecati iure nemo praesentium ut nulla laboriosam nostrum quidem iste consectetur deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae eos officia expedita perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                         </div>
                         <div class="c30"></div>
                         <div class="aboutintroduc-item">
                        
                        
                        </div>
                      </div>
                  </div>
              </div>
             </div>
              <div class="recruit-detail--item">
              <div class="grid">
                  <div class="flex-container">
                      <div class="cell-2-6 tab-cell-1-1">
                          <div class="recruit-detail--title">
                            Quyền lợi khi trở thành nhân viên chính thức
                          </div>
                          
                        
                      </div>
                      <div class="cell-4-6 tab-cell-1-1">
                         <div class="text-justify">
                          <div class="c30"></div>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores accusantium, tenetur fuga laborum voluptatem voluptates unde recusandae deleniti libero id explicabo nulla consectetur, dignissimos, eum eos quia in maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto eveniet animi perspiciatis iusto nobis hic. Nobis, placeat obcaecati iure nemo praesentium ut nulla laboriosam nostrum quidem iste consectetur deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vitae eos officia expedita perspiciatis illo animi inventore odit ipsum fugiat explicabo eaque incidunt architecto delectus, sit totam, veniam, laudantium natus!
                         </div>
                        
                        </div>
                      </div>
                  </div>
              </div>
                <div class="recruit-detail--item">
                        <div class="grid">
                    <div class="flex-container">
                        <div class="cell-2-6 tab-cell-1-1 tab-cell-1-1">
                            <div class="recruit-detail--title">
                              Nộp CV đăng ký ứng tuyển
                            </div>
                             Chúng tôi sẽ trả lời bạn trong thời gian sớm nhất, nếu xét thấy CV đủ yêu cầu chúng tôi sẽ liên hệ để hẹn phỏng vấn.
                        </div>
                        <div class="cell-4-6 tab-cell-1-1 tab-cell-1-1">
                        
                          <form action="/index4.php?page=contact&lang=" method="post" class="formungtuyen" id="formtuyendung" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/">
                            
                          <input type="hidden"  name="code" value="save" />    
                            <div class="flex-container">
                                    <div class="item">
                                    <span>*</span> <input type="text" placeholder="Họ tên" class="txt-comment notNull">
                                    </div>
                                    <div class="item">
                                    <span>*</span> <input type="text" class="txt-comment notNull" placeholder="Ngày tháng năm sinh">
                                    </div>
                                    <div class="item">
                                    <span>*</span> <input type="text" class="txt-comment notNull" placeholder="Điện thoại">
                                    </div>
                                    <div class="item">
                                      <span></span><input type="text" class="txt-comment notNull" placeholder="Địa chỉ">
                                    </div>
                                    <div class="item">
                                      <span></span> <input type="text" class="txt-comment notNull" placeholder="Email">
                                    </div>
                                    <div class="item">
                                      <span>*</span>
                                      <input class="input-file" id="my-file" type="file" accept="image/jpg, pdf,.docx, .doc, .xls, .xlsx, .png, .pdf">
                                      <label tabindex="0" for="my-file" class="input-file-trigger"><img src="/images/upload.png" style="max-height:30px" alt="">Tải CV lên</label>
                                      <!-- <span>*</span> 
                                      <input type="file" id="file" />
                                      <label for="file" class="btn-smfile"> <img src="/images/upload.png" alt=""> Tải CV lên</label> -->
                                      <small>(Định dạng: .doc, .docx, .pdf, .xls, .xlsx; <=5MB)</small>
                                      <p class="file-return"></p>
                                    </div>
                                    <div class="item gender">
                                         Giới tính
                                        <div class="check">
                                            <input type="radio" id="f-option" checked name="selector">   
                                            <label for="f-option">Nam</label> 
                                            <span class="checkmark"></span>
                                        </div>
                                        <div class="check">
                                            <input type="radio" id="s-option" name="selector">
                                            <label for="s-option">Nữ</label>
                                            <span class="checkmark"></span>
                                        </div>
                                    </div>
                                </div>
                                <input name="input" type="button" onClick="$('#formtuyendung').submit()"  class="btn-send-mail" value="Gửi liên hệ" /></div>
                                <!-- <button>Nộp CV</button> -->
                            </form>
                          <script>
                            var fileInput  = document.querySelector( ".input-file" ),  
                                          button     = document.querySelector( ".input-file-trigger" ),
                                          the_return = document.querySelector(".file-return");
                                            
                                      button.addEventListener( "keydown", function( event ) {  
                                          if ( event.keyCode == 13 || event.keyCode == 32 ) {  
                                              fileInput.focus();  
                                          }  
                                      });
                                      button.addEventListener( "click", function( event ) {
                                        fileInput.focus();
                                        return false;
                                      });  
                                      fileInput.addEventListener( "change", function( event ) {  
                                          the_return.innerHTML = this.value;  
                                      });  
                          </script>
                          </div>
                        </div>
                        <div class="c30"></div>
                       
                    </div>
                </div>
                
             </div>
        </div>
    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
              <img src="/uploaded/logo/logo_footer.png" alt="">
              <div class="c30"></div>
            </div>
            <div class="cell-1-2 tab-cell-1-1">
              <ul class="footer-social">
                <li>
                    <a href="https://www.facebook.com/smelogistics.jsc/" target="_blank" class="footer-social__item hvr-float">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SMELOGISTICSJSC"  target="_blank" class="footer-social__item hvr-float">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>

            </ul>


            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
               
                  <div class="footer-title footer-title-mobile" rel="ct">
                    Trường mầm non những ngón tay bay
                </div>
                
                <div class="info">
                 
                 
                     Add: Hapulico Complex,
                    81 Vũ Trọng Phụng, Thanh Xuân, Hà Nội
            
               
                  </div>
                  <div class="info">
                 
                    Email: tuyensinh@ffs.vn 

                   
                 </div>
                  <div class="info">
                 
                     Website: ffs.edu.vn 

                    
                  </div>
                  
                 
                  
                                          
                              
              </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                    Hotline
                </div>
              
                <ul class="menuboxfooter" id="">
                  <li><a href="">024.6682.7799
                    </a></li>
                  <li><a href="">  090.682.7799 (24/7)</a></li>
                  
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                   Link nhanh
                </div>
               
                <ul class="menuboxfooter" id="">
                  <li><a href="">  Chương trình học
                  
                    
                   </a></li>
                  <li><a href="">    Tuyển sinh</a></li>
                  <li><a href=""> Tuyển dụng</a></li>
                  <li><a href="">   Liên hệ</a></li>
                 
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
            <div class="footer-title footer-title-mobile" rel="ct">
              Đăng ký nhận tin
           </div>
            <div class="send-mail">
              <form id="newsletterForm" class="sendmail__frm" action="/index4.php?page=newsletter&lang=" onSubmit="return check_newsletter1();" method="post">
                <input type="hidden"  name="code" value="save" />          
                <input type="text" name="txtemail" id="txtemailNewsl" class="sendmail__input notNull" placeholder="Nhập email của bạn">
                <button type="submit" name="addnewsletter" value="save" onClick="$('#newsletterForm').submit()" class="sendmail__btn">Đăng ký</button>
              </form>
              <div class="msgbox-newsl"></div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
          <div class="flex-container">
              <div class="cell-1-2 tab-cell-1-1">
                © Bản quyền 2022 thuộc về FFS
              </div>
              <div class="cell-1-2 tab-cell-1-1">
                 
                  <div class="lang"> 
                    <span> Chọn ngôn ngữ </span>
                    <a href="/en/"> <div class="en"> </div></a> 
                  </div>

              </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

