<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-4">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-3-4">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Giới thiệu </span></a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Chương trình học</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Tuyển sinh </span></a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Dinh Dưỡng </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Đối tác </span></a> 
                </li>
               
                
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Tuyển dụng</span></a> 
                </li>
                
                <li class=" "> 
                  <a href="/lien-he/" class=""><span style="background-image:url()">Tin tức </span></a> 
                </li>
                </ul>
                <div class="icon-search" >
                 <i class="fa fa-search search-icon" aria-hidden="true"></i>
                  <div class="search-pc" style="">
                      <form action="/search/" method="get" id="searchformtab">
                          <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                              <a href="#" class="submit-search-pc" onClick=""> 
                                  <i class="fa fa-search" aria-hidden="true"></i> </a>

                              <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>        
                      </form>
                  </div>

                  <script type="text/javascript">

                    $(".submit-search-pc").click(function(){
                      if ($("#qr_search").val() != "")
                        $('#searchformtab').submit(); return false;
                    
                    });
  
                      $(document).ready(function () {
                          $(".search-icon").click(function () {
                              $(".search-pc").stop().slideToggle("fast");
                              return false;
                          });
                      });
                  </script>  	
              </div>
              <div class="c"></div>
            </div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">

    </header>
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="img-poster" style="position:relative">



            <a class="hide-on-tab" href="">
                <img src="/uploaded/pic-cat/slide-gioithieu.png" alt="" width="100%"/>
            </a>
        
        
        
        
        </div>
          <!-- end slideshow -->
      
      <div class="c20"></div>
          <div class="menutab">

            <div class="menutab-item  ">
                <a class="" href="/hoc-bong-dai-hoc/"  >Tôn chỉ giáo dục</a>
            </div>
    
            <div class="menutab-item actived ">
                <a class="" href="/hoc-bong-thac-sy/"  >Đội ngũ nhân sự</a>
            </div>
    
            <div class="menutab-item  ">
                <a class="" href="/hoc-bong-tien-sy/"  >Cơ sở vật chất</a>
            </div>
    </div>
    <div class="c20"></div> 
        <div class="tuyensinh-wrapper">
                <div class="grid">
                    <div class="homecat-title--spc">
                        <a href="#">Quy trình tuyển sinh</a>
                      </div>
                      <div class="line-w">
                        <span></span>
                      </div>
                      <div class="c"></div>
                      <div class="homecat-intro">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repudiandae provident aliquid quas nemo dicta non obcaecati ex quae molestias, quisquam rem, officia eveniet sit, consequatur culpa accusamus? Quo, aliquid.
                      </div>
                      <div class="c20"></div>
                      <div class="c30 hide-on-mobile"></div>
                    <div class="flex-container flex-centered">
                        <div class="cell-3-4 tab-cell-1-1">
                          <div class="quytrinh-list">
                              <div class="item-quytrinh" >
                                <img src="/uploaded/tuyensinh/quytrinhtuyensinh_01.png" alt="">
                                <div class="desc-quytrinh">
                                  <div class="quytrinh-number">
                                    01
                                </div>
                                    <div class="quytrinh-text">
                                      Tham quan trường học
                                      & Tư vấn tuyển sinh
                                    </div>
                                    
                                    
                                </div>  
                              </div>
                              <div class="item-quytrinh" >
                                <img src="/uploaded/tuyensinh/quytrinhtuyensinh_02.png" alt="">
                                <div class="desc-quytrinh">
                                  <div class="quytrinh-number">
                                    02
                                </div>
                                  
                                  <div class="quytrinh-text">
                                    Cha mẹ trả lời form
phỏng vấn online
                                  </div>
                                  
                              </div>  
                              </div>
                              <div class="item-quytrinh" >
                                <img src="/uploaded/tuyensinh/quytrinhtuyensinh_03.png" alt="">
                                  <div class="desc-quytrinh">
                                    <div class="quytrinh-number">
                                      03
                                  </div>
                                    
                                    <div class="quytrinh-text">
                                      Quan sát học sinh & Test đầu vào
                                      (Phỏng vấn cha mẹ trực tiếp – Khi đánh giá là cần thiết)
                                    </div>
                                   
                                </div>  
                              </div>
                              <div class="item-quytrinh" >
                                <img src="/uploaded/tuyensinh/quytrinhtuyensinh_04.png" alt="">
                                  <div class="desc-quytrinh">
                                    <div class="quytrinh-number">
                                      04
                                  </div>
                                    
                                    <div class="quytrinh-text">
                                      Hoàn thành phí
năm học
                                    </div>
                                   
                                </div>  
                              </div>
                              <div class="item-quytrinh" >
                                <img src="/uploaded/tuyensinh/quytrinhtuyensinh_06.png" alt="">
                                  <div class="desc-quytrinh">
                                    <div class="quytrinh-number">
                                      05
                                  </div>
                                    
                                    <div class="quytrinh-text">
                                        Dẫn học sinh nhập học
                                    </div>
                                  
                                </div>  
                              </div>
                          </div>
                      
                            <div class="c30"></div>
                            <div class="share-social">
                                <ul class="" style="justify-content:center ;">
                                  
                                  <li>
                                    <a href="" target="_blank" class="footer-social__item">
                                      <i class="fab fa-facebook-f"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="" target="_blank" class="footer-social__item">
                                      <i class="fab fa-linkedin-in"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="" target="_blank" class="footer-social__item">
                                      <i class="fas fa-envelope"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                        </div>
                        <div class="cell-1-4 tab-cell-1-1">
                                    
                            <div class="homebooking-item">
                                <div class="title-page">
                                <h3>Đăng ký tư vấn</h3>
                                </div>
                                <form  action="/index4.php?page=contact&lang=" method="post" class="frmSubmit" id="regform2" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" class="frmSubmit">
                                    <input type="hidden"  name="code" value="save" />     

                                    <div class="form_booking">
                                        <div class="c20"></div>
                                        <div class="intro">
                                        Cha mẹ cần tư vấn, xin hãy gọi
                                        Hotline 0906 82 7799, hoặc để lại thông tin tại đây </div>
                                        <div class="c10"></div>
                                        <div class="flex-container">
                                            <div class="cell-1-1 tab-cell-1-1">
                                                <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên*">
                                            </div> 
                                            <div class="cell-1-1 tab-cell-1-1">
                                                <input name="phone" type="text"  class="txt-contact notNull"  placeholder="Điện thoại*">
                                            </div>
                                            <div class="cell-1-1 tab-cell-1-1">
                                                <input name="email" type="text"  class="txt-contact"  placeholder="Email">
                                            </div>
                                            <div class="cell-1-1 tab-cell-1-1">
                                            <input name="email" type="text"  class="txt-contact"  placeholder="Năm sinh của con">
                                            </div>
                                        </div>
                                        <input name="input" type="button" onClick="$('#regform2').submit()"  class="btn-dangky hvr-bounce-to-bottom" value="Gửi thông tin" />
                                    </div>
                                
                                </form>
                
                

                            </div>
                        </div>
                    </div>
                    <div class="c20"></div>
                    <div class="c30 hide-on-mobile"></div>
                </div>
        </div>
    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
              <img src="/uploaded/logo/logo_footer.png" alt="">
              <div class="c30"></div>
            </div>
            <div class="cell-1-2 tab-cell-1-1">
              <ul class="footer-social">
                <li>
                    <a href="https://www.facebook.com/smelogistics.jsc/" target="_blank" class="footer-social__item hvr-float">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SMELOGISTICSJSC"  target="_blank" class="footer-social__item hvr-float">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://www.youtube.com/channel/UCm7Tu-rNx9VA9c9iijSm8ig" class="footer-social__item hvr-float" target="_blank"  >
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>

            </ul>


            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
               
                  <div class="footer-title footer-title-mobile" rel="ct">
                    Trường mầm non những ngón tay bay
                </div>
                
                <div class="info">
                 
                 
                     Add: Hapulico Complex,
                    81 Vũ Trọng Phụng, Thanh Xuân, Hà Nội
            
               
                  </div>
                  <div class="info">
                 
                    Email: tuyensinh@ffs.vn 

                   
                 </div>
                  <div class="info">
                 
                     Website: ffs.edu.vn 

                    
                  </div>
                  
                 
                  
                                          
                              
              </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                    Hotline
                </div>
              
                <ul class="menuboxfooter" id="">
                  <li><a href="">024.6682.7799
                    </a></li>
                  <li><a href="">  090.682.7799 (24/7)</a></li>
                  
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                   Link nhanh
                </div>
               
                <ul class="menuboxfooter" id="">
                  <li><a href="">  Chương trình học
                  
                    
                   </a></li>
                  <li><a href="">    Tuyển sinh</a></li>
                  <li><a href=""> Tuyển dụng</a></li>
                  <li><a href="">   Liên hệ</a></li>
                 
              </ul>
              </div>
            </div>
            <div class="cell-1-4">
            <div class="footer-title footer-title-mobile" rel="ct">
              Đăng ký nhận tin
           </div>
            <div class="send-mail">
              <form id="newsletterForm" class="sendmail__frm" action="/index4.php?page=newsletter&lang=" onSubmit="return check_newsletter1();" method="post">
                <input type="hidden"  name="code" value="save" />          
                <input type="text" name="txtemail" id="txtemailNewsl" class="sendmail__input notNull" placeholder="Nhập email của bạn">
                <button type="submit" name="addnewsletter" value="save" onClick="$('#newsletterForm').submit()" class="sendmail__btn">Đăng ký</button>
              </form>
              <div class="msgbox-newsl"></div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
          <div class="flex-container">
              <div class="cell-1-2 tab-cell-1-1">
                © Bản quyền 2022 thuộc về FFS
              </div>
              <div class="cell-1-2 tab-cell-1-1">
                 
                  <div class="lang"> 
                    <span> Chọn ngôn ngữ </span>
                    <a href="/en/"> <div class="en"> </div></a> 
                  </div>

              </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

